header {
    background-color: cadetblue;
    width: 100%;
    height: 50px;
}

.flexbox-container {
    display: flex;
    margin: auto;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}

.flexbox-container > div {
    padding: 10px;
    margin-right: 20px;
    width: 25%;
}

.introSection {
    text-align: center;
}

img {
    max-width: 100%;
    background-size: contain;
}
.textContainer {
    text-align: left;
}

.flexbox-container > div:first-child {
    background-color: azure;
    width: 80%;
    align-self: center;
    justify-self: center;
}

.flexbox-container > div:first-child img {
    float: right;
}
footer {
    background-color: honeydew;
    height: 25px;
}